[Desktop Entry]
Icon=text-html
Name=GoogleDoc
Type=Link
URL[$e]=https://docs.google.com/document/d/1hnLpz1UG08nc2Y1y7dWSIiEWXYIJHTTc60E0GaI5BaI/edit?usp=sharing
